.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 108px;
  flex: 1;
  height: 100%;
  overflow: auto;
}
.back_btn {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.action_container {
  display: flex;
  gap: 40px;
}
.register {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #F5F7FF;
  background: #FF008A;
  border-radius: 30px;
  padding: 11px 16px;
  cursor: pointer;
}
.registered {
  background: #232429;
}
.rating_container {
  display: flex;
  align-items: center;
}
.rating {
  font-family: 'Work Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 0 16px 0 8px;
}
.rate {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-right: 16px;
}
.rating_count {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  opacity: 0.4;
}
.content_container {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}
.part {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}
.info_container {
  display: flex;
  background: #232429;
  border-radius: 16px;
  padding: 24px 20px;
  flex-direction: column;
  align-items: flex-start;
}
.info_title {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.info_desc {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 0;
}
.info_margin {
  margin-bottom: 18px
}
.lesson_container {
  display: flex;
  gap: 18px;
  align-items: center;
}
.lesson_container:not(:last-child) {
  margin-bottom: 20px;
}
.right_part_container {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;

}
.right_part_container:not(:last-child) {
  border-bottom: 3px solid #232429;
}
.reward_container {
  display: flex;
  align-items: center;
}
.coin_text {
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 0 22px 0 12px;
}
.coin_img {
  width: 27px;
  height: 27px;
}
.to_pass_container {
  display: flex;
  align-items: center;
  gap: 12px
}
.to_pass_container:not(:last-child) {
  margin-bottom: 12px;
}
.tag {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  background: #232429;
  border-radius: 30px;
}
.tag_container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.subject_btn {
  display: flex;
  padding: 11px 16px;
  background: #100F0F;
  border-radius: 30px;
  gap: 12px;
  cursor: pointer;
  margin: 12px 0;
}
.send_btn {
  background: #FF9900;
  margin: 0;
}
.point_container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.send_container {
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.active_point {
  color: rgba(2, 234, 164, 0.4);
}
.point {
  color: #7FF4D1;
}
.active_desc {
  font-weight: 700;
}
.video_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #100F0F;
  border-radius: 10px;
  height: 288px;
  width: 100%;
  margin-bottom: 12px;
}
.next_btn {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  gap: 8px;
  background: #FF43A9;
  border-radius: 30px;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.02em;
  align-self: flex-end;
  cursor: pointer;
}